*
{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
img
{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.title
{
    text-align: center;
}
.left
{
    position: absolute;
    top: 0;
    left: 0;
}
.right
{
    position: absolute;
    top: 0;
    right: 0;
    
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
*
{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
.card
{
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    display: inline-flex;
    max-width: 250px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 0.5px solid rgb(216, 216, 216);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    background-color: rgba(216, 216, 216, 0.2);
    padding-bottom: 10px;
    transition-duration: 0.3s;
}
.card:hover
{
    transition-duration:  0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.icon
{
    width: 15px;
    height: 15px;
    object-fit: cover;
}
.change
{
    height: 250px;
    width: 30px;
    border: 0;
    background-color: transparent;
}
.change:hover
{
    background-color: rgba(139, 139, 139, 0.24);
}
.info
{
    margin-bottom: 5px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.people
{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.book {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  font-size:16px;
  box-sizing: border-box;
  color: #fff;
  padding: 10px 50px 10px 50px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 80%;
}

.book:hover {
  opacity: .75;
}
.city
{
    font-family: 'Work Sans', sans-serif;
}