@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Hind', sans-serif;
}
.globalinput
{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
input
{
    width:auto;
    height: 50px;
    outline: none;
}
input[type=text]
{
    width: 500px;
    font-size: medium;
}
input[type=text]::placeholder
{
    font-size: medium;
}
#textinput
{
    border-right: 0;
    padding-left: 30px;
    border-top-left-radius:  20px;
    border-bottom-left-radius: 0;
    border: 1px solid #d9d9d9;
    border-right: 0;
}
#textinput:hover
{
    border-color: #00aa17;
    transition-duration: 0.2s;
}
.dateinput
{
    border: 1px solid #d9d9d9;
    border-left: 0;
}
#rightdateinput
{
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    padding-right: 20px;
}
#centerdateinput
{
    border-right:0 ;
}
#cityname
{
    position:absolute ;
    width: 100%;
    z-index: 1;
    right: 0;
    border-radius: 8px;
    background-color: rgb(243, 243, 243);
}
.input-container
{
    position: relative;
}
.options
{
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    font-size: small;
    background-color: white;
    z-index: 100;
}
.options:hover
{
    background-color: rgb(224, 224, 224);
}
input[type="date"]{
    padding-left: 5px;
    background-color: #0080ff;
    color: #ffffff;
    outline: none;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.ardpcontainer
{
    position: relative;
}
.ardp
{
    color: black;
    border:0;
    font-size: small;
    position: absolute;
    bottom: 100%;
    left: 0;
}
.searchbtn
{
    background-color: #00aa17;  
    width:50px;
    border-top-right-radius: 20px;
    padding: 5px;
    height: 50px;
}
.searchbtn:hover
{
    transition-duration: 0.3s;
    background-color: #07df24;   
}
.inputsAll 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.filters
{
    background-color: white;
    border:  1px solid #d9d9d9;
    border-top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}
.maxmin
{
    padding-top: 20px;
    background-color: white;
    position: relative;
    border-bottom: 0;
    margin: 0;
    width: 140px;
    margin: 0;
}
.maxmin::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 45%;
    height: 30%;
    border-right: 1px solid #d9d9d9;
}
.min
{
    font-size: small;
    outline: none;
    border: 0;
    height: 40px;
    width: 70px;
    padding-left: 10px;
}
.max
{
    font-size: small;
    outline: none;
    border: 0;
    height: 40px;
    width: 70px;
    padding-left: 10px;
}
.stars-container
{
    margin-right: 10px;
    height: 100%;
    border-left: 1px solid #d9d9d9;
    padding-top: 20px;
    position: relative;
    font-size: x-large;
    padding-left: 15px;
}
.tag
{
    font-size: medium;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 5px;
}
.rating
{
    top: 0;
}
.stars
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}
.freebies
{
    top:0px;
    left: 5px;
}
input[type="checkbox"]{
    margin-left: 15px;
    margin-right: 10px;
    appearance:none;
    width:40px;
    height:16px;
    border:1px solid #aaa;
    border-radius:2px;
    background:#ebebeb;
    position:relative;
    display:inline-block;
    overflow:hidden;
    vertical-align:middle;
    box-sizing:border-box;
  }
  input[type="checkbox"]{
    appearance:none;
    width:37px;
    height:14px;
    border:1px solid #aaa;
    border-radius:2px;
    background:#ebebeb;
    position:relative;
    display:inline-block;
    overflow:hidden;
    vertical-align:middle;
    box-sizing:border-box;
  }
  input[type="checkbox"]:after{
    content:'';
    position:absolute;
    top:-1px;
    left:-1px;
    width:14px;
    height:14px;
    background:white;
    border:1px solid #aaa;
    border-radius:2px;
    transition: left 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  input[type="checkbox"]:checked{
    background:#a6c7ff;
    border-color:#8daee5;
  }
  input[type="checkbox"]:checked:after{
    left:23px;
    border-color:#8daee5;
  }
  
  input[type="checkbox"]:hover:not(:checked):not(:disabled):after,
  input[type="checkbox"]:focus:not(:checked):not(:disabled):after{
    left:-1px;
  }
  
  input[type="checkbox"]:hover:checked:not(:disabled):after,
  input[type="checkbox"]:focus:checked:not(:disabled):after{
    left:22px;
  }
  
  input[type="checkbox"]:disabled{
    opacity:0.5;
  }
  .label
  {
    font-size: small;
    position: relative;
    bottom: 2px;
  }
  .counter
  {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    height: 27px;
    padding-left: 10px;
  }
  .count
  {
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .btn
  {
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-size: x-large;
    background-color: #8daee5;
    border-radius: 5px;
    user-select: none;
  }
  .btn:hover
  {
    background-color: #6d9ae7;
  }