@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Hind', sans-serif;
}
.globalinput
{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
input
{
    width:auto;
    height: 50px;
    outline: none;
}
input[type=text]
{
    width: 500px;
    font-size: medium;
}
input[type=text]::placeholder
{
    font-size: medium;
}
#textinput
{
    border-right: 0;
    padding-left: 30px;
    border: 1px solid #d9d9d9;
}
#textinput:hover
{
    border-color: #F9DE9D;
    transition-duration: 0.2s;
}
#textinput:focus
{
    border-color: #FDECAA;
}
.dateinput
{
    border: 1px solid #d9d9d9;
    border-left: 0;
}
#rightdateinput
{
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    padding-right: 20px;
}
#centerdateinput
{
    border-right:0 ;
}
#cityname
{
    position:absolute ;
    width: 100%;
    z-index: 3;
    right: 0;
    border-radius: 8px;
    background-color: white;
    opacity: 1;
}
.input-container
{
    position: relative;
}
.options
{
    padding: 10px;
    cursor: pointer;
    font-size: small;
    opacity: 1;
}
.options:hover
{
    background-color: rgb(226, 226, 226);
}
input[type="date"]{
    padding-left: 5px;
    background-color: #0080ff;
    color: #ffffff;
    outline: none;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.ardpcontainer
{
    position: relative;
}
.ardp
{
    color: black;
    border:0;
    font-size: small;
    position: absolute;
    bottom: 100%;
    left: 0;
}
.searchbtn
{
    background-color: #5FC2BA;  
    width:50px;
    padding: 5px;
    height: 50px;
}
.searchbtn:hover
{
    transition-duration: 0.3s;
    background-color: #61d6cc;   
}
.inputsAll 
{
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.traverlers-count
{
    height: 50px;
    border-radius: 0;
    width: 60px;
    
}
.ant-input-number-input
{
    text-align: center !important;
    vertical-align: middle;
    line-height: 50px;
    padding-left: 0 !important;
    height: 50px !important;
}