#logo
{
    flex:1 ;
    height: 110px;
    object-fit: contain;
    cursor: pointer;
}
.navbar
{
    position: sticky;
    top: 0;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    gap: 100px;
    height: 90px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.5px solid rgb(190, 190, 190);
    z-index: 10;
}
.login
{
    cursor: pointer;
    outline: none;
    height: 40px;
    flex: 0.5;
    border: 0;
    border-radius: 8px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: larger;
    font-weight: bold;
    color: #0B162C;
    background-color: #5FC2BA;
}
.inputs
{
    flex:5 ;
}
.login:hover
{
    transition-duration: 0.2s;
    background-color:#61d6cc;
    
}
/*
white
#1C2942
#3B556D

#0B162C
*/